/* InputTextfieldBlock
 * -------------------
 *  Blank       > Initial state
 *  Focus       > Focused state
 *  Ok          > Valid state
 *  Ko          > Invalid state
 *  Checking    > Checking state
 *  Locked      > Locked state                                                  */

/* Standard */
div.cpnInputTextfieldBlock > div.wrapper {
    width: 380px;
}
div.cpnInputTextfieldBlock > div.wrapper > div.head {
    padding: 4px 0px;
}
div.cpnInputTextfieldBlock > div.wrapper > div.head > label {
    font-size: 150%;
    font-weight: bold;
}
div.cpnInputTextfieldBlock > div.wrapper > div.input {
    position: relative;
    height: 48px;
}
div.cpnInputTextfieldBlock > div.wrapper > div.input > div.icon {
    position: absolute;
    opacity: 0;
    width: 32px;
    height: 32px;
    top: 0px;
    padding: 2px;
    background-color: #bbb;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #444;
    border-radius: 4px;
}
div.cpnInputTextfieldBlock > div.wrapper > div.input > div.icon.locked {
    background-image: url('../visuals/security_closed_32.png');
}
div.cpnInputTextfieldBlock > div.wrapper > div.input > div.icon.focus {
    background-image: url('../visuals/arrow_sans_right_32.png');
}
div.cpnInputTextfieldBlock > div.wrapper > div.input > div.icon.ok {
    background-image: url('../visuals/accept_32.png');
    background-color: #009900;
}
div.cpnInputTextfieldBlock > div.wrapper > div.input > div.icon.ko {
    background-image: url('../visuals/cancel_32.png');
    background-color: #cc0000;
}
div.cpnInputTextfieldBlock > div.wrapper > div.input > div.icon.loading {
    background-image: url('../visuals/refresh_32.png');
}
div.cpnInputTextfieldBlock > div.wrapper > div.input > input {
    height: 24px;
    padding: 2px 64px 2px 12px;
    color: #444;
    border: 1px solid #444;
    border-radius: 8px 0px 0px 8px;
    background-color: #eee;
    outline: none;
    font-size: 105%;
}
div.cpnInputTextfieldBlock > div.wrapper > div.foot {
    opacity: 0;
    padding: 0px 16px 2px 2px;
    font-size: 90%;
    font-style: italic;
    text-align: right;
}

/* State : Blank */
div.cpnInputTextfieldBlock.toInitial > div.wrapper > div.input > input,
div.cpnInputTextfieldBlock.atInitial > div.wrapper > div.input > input {
    color: #555;
    font-style: italic;
}
/* State : Focus */
div.cpnInputTextfieldBlock.atFocus > div.wrapper > div.input > div.icon.focus {
    opacity: 1;
}
/* State : Ok */
div.cpnInputTextfieldBlock.atOk > div.wrapper > div.input > div.icon.ok {
    opacity: 1;
}
/* State : Ko*/
div.cpnInputTextfieldBlock.atKo > div.wrapper > div.input > div.icon.ko {
    opacity: 1;
}
div.cpnInputTextfieldBlock.atKo > div.wrapper > div.foot {
    opacity: 1;
}
/* State : Checking */
div.cpnInputTextfieldBlock.atChecking > div.wrapper > div.input > div.icon.loading {
    opacity: 1;
}
