/* Base */
div.alert {
    position: relative;
    height: 500px;
}
div.alert > div.window {
    margin: auto;
    padding: 5px;
}
div.alert > div.window > div.button {
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
}

/* Type : error */
div.alert > div.window.error {
    width: 200px;
    background: #ccc;
    border: 1px solid #990000;
}
div.alert > div.window.error > div.title {
    color: #990000;
    font-weight: bold;
}
div.alert > div.window.error > div.button {
    background: #bbb;
    border: 1px solid #aaa;
}